[submodule "sources_plugins/molokai"]
	path = sources_plugins/molokai
	url = git://github.com/tomasr/molokai.git
[submodule "sources_plugins/yankring"]
	path = sources_plugins/yankring
	url = git://github.com/vim-scripts/YankRing.vim.git
[submodule "sources_plugins/solarized"]
	path = sources_plugins/solarized
	url = https://github.com/altercation/vim-colors-solarized.git 
[submodule "sources_plugins/jedi"]
	path = sources_plugins/jedi
	url = git://github.com/davidhalter/jedi-vim.git
[submodule "sources_plugins/vim-flake8"]
	path = sources_plugins/vim-flake8
	url = https://github.com/nvie/vim-flake8.git
[submodule "tools/dircolors-solarized"]
	path = tools/dircolors-solarized
	url = git://github.com/seebi/dircolors-solarized.git
[submodule "tools/gnome-terminal-colors-solarized"]
	path = tools/gnome-terminal-colors-solarized
	url = git://github.com/sigurdga/gnome-terminal-colors-solarized.git
[submodule "tools/osx-lion-terminal.app-colors-solarized"]
	path = tools/osx-lion-terminal.app-colors-solarized
	url = git://github.com/tomislav/osx-lion-terminal.app-colors-solarized.git
[submodule "sources_plugins/mru"]
	path = sources_plugins/mru
	url = git://github.com/vim-scripts/mru.vim.git
[submodule "sources_plugins/closetag"]
	path = sources_plugins/closetag
	url = git://github.com/docunext/closetag.vim.git
[submodule "sources_plugins/vim-css-color"]
	path = sources_plugins/vim-css-color
	url = https://github.com/skammer/vim-css-color
[submodule "tools/nerdtree"]
	path = tools/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "tools/ctrlp"]
	path = tools/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule "tools/bufexplorer"]
	path = tools/bufexplorer
	url = git://github.com/vim-scripts/bufexplorer.zip.git
[submodule "sources_plugins/bufexplorer"]
	path = sources_plugins/bufexplorer
	url = git://github.com/vim-scripts/bufexplorer.zip.git
[submodule "sources_plugins/ctrlp"]
	path = sources_plugins/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule "sources_plugins/nerdtree"]
	path = sources_plugins/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "sources_plugins/ask"]
	path = sources_plugins/ask
	url = git://github.com/mileszs/ack.vim.git
[submodule "sources_plugins/tlib"]
	path = sources_plugins/tlib
	url = git://github.com/vim-scripts/tlib.git
[submodule "sources_plugins/open_file_under_cursor"]
	path = sources_plugins/open_file_under_cursor
	url = git://github.com/amix/open_file_under_cursor.vim.git
[submodule "sources_plugins/vim-less"]
	path = sources_plugins/vim-less
	url = git://github.com/groenewege/vim-less.git
[submodule "sources_plugins/vim-bundle-mako"]
	path = sources_plugins/vim-bundle-mako
	url = git://github.com/sophacles/vim-bundle-mako.git
[submodule "sources_plugins/vim-coffee-script"]
	path = sources_plugins/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "sources_plugins/vim-surround"]
	path = sources_plugins/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "sources_plugins/vim-snipmate"]
	path = sources_plugins/vim-snipmate
	url = https://github.com/garbas/vim-snipmate
[submodule "sources_plugins/snipmate-snippets"]
	path = sources_plugins/snipmate-snippets
	url = git://github.com/honza/snipmate-snippets.git
[submodule "sources_plugins/vim-addon-manager-known-repositories"]
	path = sources_plugins/vim-addon-manager-known-repositories
	url = git://github.com/MarcWeber/vim-addon-manager-known-repositories.git
[submodule "sources_plugins/vim-addon-mw-utils"]
	path = sources_plugins/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "sources_plugins/vim-powerline"]
	path = sources_plugins/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline
[submodule "sources_plugins/vim-slime"]
	path = sources_plugins/vim-slime
	url = https://github.com/jpalardy/vim-slime.git
[submodule "neocomplcache"]
	path = neocomplcache
	url = git://github.com/Shougo/neocomplcache.git
[submodule "sources_plugins/neocomplcache"]
	path = sources_plugins/neocomplcache
	url = git://github.com/Shougo/neocomplcache.git
[submodule "sources_plugins/vim-fugitivie.git"]
	path = sources_plugins/vim-fugitivie.git
	url = git://github.com/tpope/vim-fugitive.git
[submodule "sources_plugins/vim-fugitivie"]
	path = sources_plugins/vim-fugitivie
	url = git://github.com/tpope/vim-fugitive.git
[submodule "sources_plugins/tabular"]
	path = sources_plugins/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "sources_plugins/vim-autoclose"]
	path = sources_plugins/vim-autoclose
	url = git://github.com/Townk/vim-autoclose.git
[submodule "sources_plugins/vim-tommorrow-theme"]
	path = sources_plugins/vim-tommorrow-theme
	url = git://github.com/chriskempson/vim-tomorrow-theme.git
[submodule "sources_plugins/YouCompleteMe"]
	path = sources_plugins/YouCompleteMe
	url = git://github.com/Valloric/YouCompleteMe.git
[submodule "sources_plugins/vim-snippets"]
	path = sources_plugins/vim-snippets
	url = git://github.com/honza/vim-snippets.git
[submodule "sources_plugins/zencoding-vim"]
	path = sources_plugins/zencoding-vim
	url = git://github.com/mattn/zencoding-vim.git
[submodule "sources_plugins/vim-indent-object"]
	path = sources_plugins/vim-indent-object
	url = git://github.com/michaeljsmith/vim-indent-object.git
[submodule "sources_plugins/vim-multiple-cursors"]
	path = sources_plugins/vim-multiple-cursors
	url = git://github.com/terryma/vim-multiple-cursors.git
[submodule "sources_plugins/vim-expand-region"]
	path = sources_plugins/vim-expand-region
	url = git://github.com/terryma/vim-expand-region.git
[submodule "sources_plugins/nginx"]
	path = sources_plugins/nginx
	url = git://github.com/vim-scripts/nginx.vim.git
[submodule "sources_plugins/python-mode"]
	path = sources_plugins/python-mode
	url = git://github.com/klen/python-mode.git
[submodule "sources_plugins/pyflakes"]
	path = sources_plugins/pyflakes
	url = git://github.com/kevinw/pyflakes-vim.git
[submodule "sources_plugins/vim-jinja2"]
	path = sources_plugins/vim-jinja2
	url = git://github.com/Glench/Vim-Jinja2-Syntax.git
[submodule "sources_plugins/yaml-vim"]
	path = sources_plugins/yaml-vim
	url = https://github.com/vim-scripts/yaml.vim.git
[submodule "sources_plugins/syntastic"]
	path = sources_plugins/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "sources_plugins/python-vim"]
	path = sources_plugins/python-vim
	url = git://github.com/vim-scripts/indentpython.vim.git
[submodule "sources_plugins/vim-markdown"]
	path = sources_plugins/vim-markdown
	url = git://github.com/hallison/vim-markdown.git
[submodule "sources_plugins/ycm-vim"]
	path = sources_plugins/ycm-vim
	url = git://github.com/Valloric/YouCompleteMe.git
[submodule "sources_plugins/rainbow-vim"]
	path = sources_plugins/rainbow-vim
	url = git://github.com/kien/rainbow_parentheses.vim.git
[submodule "sources_plugins/repeat-vim"]
	path = sources_plugins/repeat-vim
	url = git://github.com/tpope/vim-repeat.git
