[submodule "sources_plugins/vim-markdown"]
	path = sources_plugins/vim-markdown
	url = git://github.com/plasticboy/vim-markdown.git
[submodule "sources_plugins/molokai"]
	path = sources_plugins/molokai
	url = git://github.com/tomasr/molokai.git
[submodule "sources_plugins/yankring"]
	path = sources_plugins/yankring
	url = git://github.com/vim-scripts/YankRing.vim.git
[submodule "sources_plugins/solarized"]
	path = sources_plugins/solarized
	url = https://github.com/altercation/vim-colors-solarized.git 
[submodule "sources_plugins/jedi"]
	path = sources_plugins/jedi
	url = git://github.com/davidhalter/jedi-vim.git
[submodule "sources_plugins/vim-flake8"]
	path = sources_plugins/vim-flake8
	url = https://github.com/nvie/vim-flake8.git
[submodule "tools/dircolors-solarized"]
	path = tools/dircolors-solarized
	url = git://github.com/seebi/dircolors-solarized.git
[submodule "tools/gnome-terminal-colors-solarized"]
	path = tools/gnome-terminal-colors-solarized
	url = git://github.com/sigurdga/gnome-terminal-colors-solarized.git
[submodule "tools/osx-lion-terminal.app-colors-solarized"]
	path = tools/osx-lion-terminal.app-colors-solarized
	url = git://github.com/tomislav/osx-lion-terminal.app-colors-solarized.git
[submodule "sources_plugins/mru"]
	path = sources_plugins/mru
	url = git://github.com/vim-scripts/mru.vim.git
[submodule "sources_plugins/closetag"]
	path = sources_plugins/closetag
	url = git://github.com/docunext/closetag.vim.git
[submodule "sources_plugins/vim-css-color"]
	path = sources_plugins/vim-css-color
	url = https://github.com/skammer/vim-css-color
[submodule "tools/nerdtree"]
	path = tools/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "tools/ctrlp"]
	path = tools/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule "tools/bufexplorer"]
	path = tools/bufexplorer
	url = git://github.com/vim-scripts/bufexplorer.zip.git
